<div class="container mt-5">
    <header class="text-center mb-4">
        <h1 class="display-4">Falabella</h1>
        <p class="lead">Email: <a href="mailto:falabella@example.com"
                class="text-decoration-none">falabella@example.com</a></p>
        <p class="lead">Teléfono: <a href="tel:+56123456789" class="text-decoration-none">+56 123 456 789</a></p>
        <a href="/app1/">Inicio</a>
        <a href="/app2/">Productos</a>
        <a href="/app3/vista1/">Vista1</a>
        <a href="/app3/vista2/">Vista2</a>
    </header>
</div>